.search-bar {
    width: 70%; /* Burada genişliği artırabilirsiniz */
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 16px;
    border: none;
    background-color: #3c4043;
    color: white;
}

.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

.turkiye{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 15;
}
